<!DOCTYPE html>
@{
  Layout = "_Layout";
}
<html>
  <head>
    <meta charset="utf-8">
    <title>University of Washington Registrar</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
    <script src="~/js/jquery-3.3.1.js"></script>
  </head>
  <body>
    <div class = "container text-center">
      <h1>Add a new course</h1>
      <form action="/courses" method="post">
        <label for="courseName">Course Name:</label>
        <input id="courseName" name="courseName" type="text">
        <label for="courseNo">Course Number:</label>
        <input id="courseNo" name="courseNo" type="text">
        <button type="submit">Add new course</button>
      </form>
      <p><a href="/">Back home</a></p>
      <p><a href="/courses">View all courses</a></p>
    </div>
  </body>
</html>
